@media (max-width: 375px) {
  .gallery-item img {
    width: 100px;
  }
}

@media (max-width: 768px) {
  /* .header-nav {
    display: none;
    margin: -15px;
  } */
  .mobile-menu,
  .mobile-menu-1 {
    display: block;
  }
  .header-nav-list {
    opacity: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(255, 0, 0, 0.95);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.25s ease-in;
  }
  .header-nav-list-item {
    margin: 10px 0;
  }
  .header-logo img {
    width: 200px;
    margin-top: 10px;
  }
  .header-content {
    padding: 40px 0 40px;
  }
  .footer-content {
    text-align: center;
  }
  .footer-logo {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .services-btn {
    margin-top: 20px;
    padding: 20px 40px 20px 40px;
  }
}

@media (min-width: 768px) {
  .menus:nth-child(n+3) .header-nav-list {
    opacity: 0;
  }
}

.show {
  transition: all 0.3s ease-in;
  transform: translatey(35%);
  opacity: 1;
  display: flex;
}
