* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

input {
  outline: none;
}
input:focus {
  border: 1px solid green;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
p {
  font-family: "Roboto Mono", monospace;
}
.row {
  justify-content: center;
}

.header {
  background: url(../image/bg.png);
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto Mono", monospace;
  /* height: 100vh; */
}

.header-row {
  align-items: center;
}

.header-nav-list {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.header-nav-list-item {
  border-radius: 10px;
  transition: 0.5s;
  padding: 5px 10px 5px 10px;
}

.header-nav-list-item:hover {
  background: black;
  border-radius: 10px;
  transition: 1s;
}

.header-nav-list a {
  color: #fff;
}

.header-content {
  padding: 120px 0 120px;
}

.header-content-title {
  font-size: 60px;
  text-transform: uppercase;
  max-width: 350px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.header-content-title span {
  color: #fff;
  text-transform: uppercase;
}

.header-content-text {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}

.form-wrap {
  background-color: #ffffff;
  border-radius: 10px;
  float: right;
  top: 120px;
  box-shadow: 0px 0px 49px -9px #000000;
  margin: 20px;
  max-width: 400px;
}

.header-form {
  padding: 20px;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 20px;
}

.form-input {
  margin: 20px 0px 4px;
  padding: 10px;
  border-radius: 5px;
  background-color: #eeee;
  border: none;
  width: 100%;
}

.form-check-el {
  margin: 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.form-select {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.933);
}

.form-checkbox {
  width: 90%;
  margin: 0px 20px 0px;
}

.form-radio-items {
  display: flex;
  justify-content: flex-start;
}

.form-agree {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

.send-form {
  width: 100%;
  margin: 30px 0px 10px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(141, 14, 14, 0.933);
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

.send-form:hover {
  background: rgba(241, 14, 14, 3.83);
  opacity: 0.8;
  transition: 0.5s;
}

.nameError,
.emailError,
.phoneError,
.countryError {
  opacity: 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: red;
  margin-bottom: 20px;
}
.selectError {
  opacity: 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: red;
  margin-left: 30px;
}
.errorBorder {
  border: 1px solid red;
}

.showError {
  opacity: 1;
}

.hideError {
  opacity: 0;
}

.services-title {
  margin: 20px 0px 20px;
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.services-title span {
  font-size: 40px;
  text-transform: uppercase;
  color: red;
  font-weight: 700;
}

.services-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
}

.services-items p {
  margin: 40px 0px 40px;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

.services-item {
  margin: 10px;
}

.services-bottom-line {
  background: #000;
  color: #fff;
  padding: 20px;
}

.services-bottom-line p {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

.services-btn {
  padding: 20px 60px 20px 60px;
  text-transform: uppercase;
  border-radius: 10px;
  background: rgba(191, 14, 14, 0.933);
  color: #fff;
  outline: none;
  border: none;
  font-size: 20px;
  float: right;
  transition: 0.5s;
}

.services-btn:hover {
  background: rgba(241, 14, 14, 3.83);
  transition: 0.5s;
}

.pricing {
  background-color: #eee;
  padding: 0 0 40px 0;
}

.pricing-title {
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
  font-weight: 700;
}
.pricing-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-item {
  max-width: 315px;
  width: 100%;
  background-color: #fff;
  padding: 50px 50px 0px 50px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.card-item:nth-child(3) button {
  padding: 15px 65px 15px 65px;
}

.card-item:nth-child(4) button {
  padding: 15px 65px 15px 65px;
}

.card-popular {
  transform: rotate(-45deg);
  position: absolute;
  top: -16px;
  left: -30px;
  font-size: 15px;
  color: #fff;
}

.action {
  content: "";
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-top: solid 30px rgb(200, 30, 50);
  border-left: solid 30px rgb(200, 30, 50);
  border-top-left-radius: 12px;
  border-right: solid 30px transparent;
  border-bottom: solid 30px transparent;
  position: absolute;
  top: 0px;
  left: 0;
}

.card-item-title {
  font-size: 20px;
}

.card-item-price {
  color: red;
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
}

.card-item-description {
  text-align: center;
  margin-top: 20px;
}

.card-item span {
  margin-top: 20px;
}

.card-item-btn {
  outline: none;
  border: none;
  background: #130e27;
  padding: 15px 65px 15px 65px;
  color: #fff;
  margin: 30px 0 10px 0;
  border-radius: 10px;
  transition: 0.5s;
}

.card-item-btn:hover {
  background: rgb(209, 14, 14);
  transition: 0.5s;
}

.about {
  margin-top: 40px;
}

.about-title {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.about-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 30px;
  font-weight: 500;
  margin-top: 10px;
}

.gallery-title {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: red;
}

.gallery-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.gallery-items {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.gallery-items img {
  width: 150px;
}

.view-more {
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  text-decoration: underline;
}

.footer-wrap {
  background: #000;
  padding: 20px 0;
}

.footer-row {
  align-items: center;
}

.footer-content p {
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.footer-content span {
  color: red;
  transition: 0.5s;
}

.footer-content span:hover {
  color: rgb(240, 119, 119);
  transition: 0.5s;
}

.footer-logo {
  text-align: end;
}

/* mobile menu */

.mobile-menu {
  z-index: 20;
  content: "";
  position: absolute;
  width: 25px;
  height: 20px;
  top: 28px;
  right: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  border-radius: 1px;
  cursor: pointer;
}

/* .mobile-menu:nth-child(2) {
  content: "";
  position: absolute;
  width: 25px;
  height: 20px;
  top: 28px;
  right: 60px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  border-radius: 1px;
  cursor: pointer;
} */

div.mobile-menu:nth-child(3) {
  content: "";
  position: absolute;
  width: 25px;
  height: 20px;
  top: 28px;
  right: 90px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  border-radius: 1px;
  cursor: pointer;
}

.mobile-menu span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  border-radius: 1px;
  top: 0px;
}

.mobile-menu span:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  border-radius: 1px;
  top: 7px;
}

.mobile-menu span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  border-radius: 1px;
  top: 14px;
}

.mobile-menu-1 span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  border-radius: 1px;
  top: 0px;
}

.mobile-menu-1 span:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  border-radius: 1px;
  top: 7px;
}

.mobile-menu-1 span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  border-radius: 1px;
  top: 14px;
}

.mobile-menu,
.mobile-menu-1 {
  display: none;
}

.header-nav-list:nth-child(2) {
  opacity: 0;
}

/* Animation *******************************************************/

.mobile-menu.active-menu span:nth-child(1) {
  background-color: rgb(230, 255, 2);
  position: absolute;
  top: 9px;
  left: 1px;
  transform: rotate(45deg);
}

.mobile-menu.active-menu span:nth-child(2) {
  background-color: rgb(230, 255, 2);
  bottom: 3px;
  opacity: 0;
  width: 0;
  top: 50%;

  transition: ease-in-out 0.5s;
}

.mobile-menu.active-menu span:nth-child(3) {
  background-color: rgb(230, 255, 2);
  position: absolute;
  top: 8px;
  transform: rotate(-45deg) translatey(50%);
}

/* Modals */
.popup-start,
.popup-business,
.popup-professional {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.popup-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 26%, 15%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.popup-start.show-modal .popup-overlay,
.popup-business.show-modal .popup-overlay,
.popup-professional.show-modal .popup-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  overflow: visible;
  transition: all 0.4s ease;
}

.popup-start-btn,
.popup-business-btn,
.popup-professional-btn {
  margin-top: 10%;
  outline: none;
  border: none;
  padding: 8px 26px 8px 26px;
  text-align: center;
  border-radius: 10px;
  float: right;
}

.popup-start-btn:hover,
.popup-business-btn:hover,
.popup-professional-btn:hover {
  background-color: rgb(230, 255, 2);
}

.show-modal {
  visibility: visible;
  opacity: 1;
}

.menus:nth-child(2) .mobile-menu {
  right: 100px;
}

.menus:nth-child(3) .mobile-menu {
  right: 60px;
}

.menus:nth-child(4) .mobile-menu {
  right: 20px;
}

.card-item .close {
  margin-top: 0;
  cursor: pointer;
  display: block;
  text-align: right;
}

/* Modals 1*/
.popup-start.show-modal .wrapper {
  z-index: 100;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 20px;
  max-width: 300px;
  align-items: center;
  position: fixed;
  overflow: visible;
  opacity: 1;
  transition: all 0.4s ease;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

/* Modal 2*/
.popup-business.show-modal .wrapper {
  z-index: 100;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 300px;
  align-items: center;
  position: fixed;
  overflow: visible;
  opacity: 1;
  transition: all 0.4s ease;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

/* Modal 3 */
.popup-professional.show-modal .wrapper {
  z-index: 100;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 300px;
  align-items: center;
  position: fixed;
  overflow: visible;
  opacity: 1;
  transition: all 0.4s ease;
  top: 5%;
  left: 50%;
  transform: translate(-50%) rotateY(360deg);
}
